@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 237 140 59;
    --brown: 62 46 14;
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: auto;
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: #faf8f3;
    min-height: 100vh;
    color: rgb(var(--brown));
  }
}

@layer components {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #e0d1b8;
  }
}
